
.vs/OpenMesh_EX/v16/ipch/AutoPCH/4d02888bb58fec95/KMEANS.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/2f3577cbdde4ddcc/GUA_OM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/327a7687d7ce8011/MYFORM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/40f6ff55f6de159a/DOTNETUITILITIES.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/4ad78a40efac174e/MAIN.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/56a4320036f90e7b/GLCAMERA.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/5fbc8b7d05174515/POINTDATA.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/77a25e4a1361ebbd/FACECOLOR.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/77bc1a72db3d0ba7/MYFORM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/88596cd94b52b850/GUA_OM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/88b59e6021ff548b/FACEDATA.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/a9d6c673f2f81c06/DOTNETUITILITIES.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/c8346cf739da915b/FACEDATA.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/ce1d65661947d834/GUA_OM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/e4379ff6a0f8c09c/MYFORM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/e6d9b501be56cff8/FACEDATA.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/eba45b6d51f0713f/MYFORM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/f027c1566ec9506/GUA_OM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/fd34cafd38cf2f95/FACEDATA.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/fd9ea9e13f06888b/GLCAMERA.ipch
.vs/OpenMesh_EX/v15/.suo
.vs/OpenMesh_EX/v15/Browse.VC.db
.vs/OpenMesh_EX/v16/.suo
.vs/OpenMesh_EX/v16/Browse.VC.db
.vs/OpenMesh_EX/v16/Browse.VC.db-shm
.vs/OpenMesh_EX/v16/Browse.VC.db-wal
.vs/OpenMesh_EX/v16/Browse.VC.opendb
.vs/OpenMesh_EX/v16/ipch/AutoPCH/4ced9d7efd8bee14/DOTNETUITILITIES.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/625dbc20e71f2a85/FACEDATA.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/6c334e1c3d945d33/CLUSTERING.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/78e3149cd15ce970/CLUSTERING.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/7cea04089db438e2/GUA_OM.ipch
.vs/OpenMesh_EX/v16/ipch/AutoPCH/878284b23317e654/GUA_OM.ipch
Debug/OpenMesh_EX.exe
Debug/OpenMesh_EX.pdb
OpenMesh_EX/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.asm
OpenMesh_EX/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
OpenMesh_EX/Debug/DotNetUitilities.obj
OpenMesh_EX/Debug/FaceData.obj
OpenMesh_EX/Debug/GLCamera.obj
OpenMesh_EX/Debug/GUA_OM.obj
OpenMesh_EX/Debug/MyForm.obj
OpenMesh_EX/Debug/OpenMesh_EX.Build.CppClean.log
OpenMesh_EX/Debug/OpenMesh_EX.log
OpenMesh_EX/Debug/OpenMesh_EX.tlog/CL.command.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/CL.read.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/CL.write.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/link.command.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/link.read.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/link.write.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/metagen.read.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/metagen.write.1.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/OpenMesh_EX.lastbuildstate
OpenMesh_EX/Debug/OpenMesh_EX.tlog/OpenMesh_EX.read.1u.tlog
OpenMesh_EX/Debug/OpenMesh_EX.tlog/OpenMesh_EX.write.1u.tlog
OpenMesh_EX/Debug/OpenMesh_EX.vcxproj.FileListAbsolute.txt
OpenMesh_EX/Debug/OpenMesh_EX.vcxprojAssemblyReference.cache
OpenMesh_EX/Debug/vc142.pdb
OpenMesh_EX/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
OpenMesh_EX/Release/MyForm.obj
OpenMesh_EX/Release/OpenMesh_EX.log
OpenMesh_EX/Release/OpenMesh_EX.tlog/OpenMesh_EX.lastbuildstate
OpenMesh_EX/Release/OpenMesh_EX.tlog/OpenMesh_EX.read.1u.tlog
OpenMesh_EX/Release/OpenMesh_EX.vcxprojAssemblyReference.cache
OpenMesh_EX/Release/vc142.pdb
OpenMesh_EX/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
OpenMesh_EX/Release/MyForm.obj
OpenMesh_EX/Release/OpenMesh_EX.log
OpenMesh_EX/Release/OpenMesh_EX.tlog/OpenMesh_EX.lastbuildstate
OpenMesh_EX/Release/OpenMesh_EX.tlog/OpenMesh_EX.read.1u.tlog
OpenMesh_EX/Release/OpenMesh_EX.vcxprojAssemblyReference.cache
OpenMesh_EX/Release/vc142.pdb
.vs/OpenMesh_EX/v15/.suo
.vs/OpenMesh_EX/v15/Browse.VC.db
.vs/OpenMesh_EX/v16/.suo
.vs/OpenMesh_EX/v16/Browse.VC.db
Debug/OpenMesh_EX.exe
Debug/OpenMesh_EX.pdb
OpenMesh_EX/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.asm
OpenMesh_EX/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.obj
OpenMesh_EX/Debug/DotNetUitilities.obj
OpenMesh_EX/Debug/FaceData.obj
OpenMesh_EX/Debug/GLCamera.obj
OpenMesh_EX/Debug/GUA_OM.obj
OpenMesh_EX/Debug/MyForm.obj
*.db
*.db
*.exe
*.pdb
*.asm
*.obj
.vs/OpenMesh_EX/v16/Browse.VC.db
*.db
*.db
*.db
*.db
*.db
.vs/OpenMesh_EX/v16/Browse.VC.db
*.db
*.db
*.db
*.ipch
*.exe
*.pdb
*.obj
*.tlog
*.cache
*.pdb

